<div>
  <% if @result < 0 %>
    <p>You should better consider long-term rentals!</p>
    <br>
    <%="You monthly loss will be #{@result}#{@currency}"%>
  <% else %>
    <p>Congratulations! Your cooperation with Airbnb will be lucrative!</p>
    <%= "You monthly profit will be #{@result}#{@currency}"%>
  <% end %>
  <br>
  <%= link_to 'Check another address', scrapers_path %>
</div>
