
<% if @result < 0 %>
  <p>"You should better consider long-term rentals!"</p>
  <br>
  <%="You loss will be #{@result}"%>
<% else %>
  <p>"Congratulations! Your cooperation with Airbnb will be lucrative!"</p>
  <%= "You profit will be #{@result}"%>
<% end %>
<br>
<%= link_to 'Check another address', new_scraper_path %>
